* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

/*  Barra de navegação */

header {
    background-color: rgb(81, 180, 81);
    padding: 15px;
    color: white;
    text-transform: uppercase;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
}

h1 {
    font-style: italic;
}

.menu li {
    margin-right: 20px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.menu li:hover {
    border-bottom: 1px solid white;
}

.menu li,h1 {
    text-transform: uppercase;
}


/*  Section Sobre a loja */

.img-loja img {
    height: 400px;
    width: 450px;
    margin-right: 20px;
}

.sobre-loja {
    display: flex;
    padding-top: 100px;
}

.texto-loja p {
    font-size: 18px;
    padding-top: 20px;
}

.borda {
    border-bottom: 5px solid rgb(81, 180, 81);
    padding-bottom: 15px;
}

.img-screen {
    display: none;
}

/*  Section produtos */

.produtos img {
    height: 200px;
    width: 200px;
    background-color: rgba(81, 180, 81, 0.726);
}

.produtos {
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}

.produtos p {
    margin: 10px 0;
    font-size: 16px;
}

.produtos button {
    width: 100%;
    padding: 7px;
    text-transform: uppercase;
    background-color: rgba(233, 119, 25, 0.973);
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.produtos button:hover {
    background-color:rgba(233, 119, 25, 0.897);
    color: white;
}

.titulo-produtos {
    padding-top: 100px;
}

h2 {
    color: rgb(81, 180, 81);
}

/* css footer */

footer {
    padding: 10px;
    background-color: rgb(81, 180, 81);
    width: 100%;
    margin-top: 50px;
    color: white;
}



@media screen and (min-width: 845px ) and (max-width: 1042px)  {

    .container {
        max-width: 830px;
    }
}

@media screen and (max-width: 845px) {
    body {
        overflow-x: hidden;
    }

    .sobre-loja {
        display: block;
    }

    .sobre-loja .img-screen {
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }

    .img-loja {
        display: none;
    }

    h2 {
        text-align: center;
    }
    .borda {
        margin: 0 auto;
        width: 500px;
    }

    .texto-loja p{
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }

    .produtos {
        display: block;
        text-align: center;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        
        font-weight: bold;
    }
    
    .produtos button {
        width: 200px;
        padding: 15px;
    }

    .produtos img {
        height: 500px;
        width: 500px;
    }

    .produtos div {
        padding: 15px 0;
    }
}